In [1]:
import numpy as np
import pandas as pd

In [2]:
animals = pd.read_csv(r'/Users/jaimesastrecrespo/DAFT_1022/Exercices /Week 3/mammals.csv')
animals.head()

            Mammal     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [3]:
animals[animals["Mammal"] == "Human"]

   Mammal  body   brain
31  Human  62.0  1320.0

In [6]:
#Â as we have body in kg and brain in g, we will convert everything to the same unit

animals["brainkgw"] = animals["brain"]/1000

In [10]:
animals["btbratio"] = animals["brainkgw"]/animals["body"]*100

In [11]:
animals.sort_values(by = 'btbratio', inplace = True)

In [13]:
animals.tail(10)

                       Mammal    body    brain  brainkgw  btbratio
38                      Mouse   0.023     0.40   0.00040  1.739130
31                      Human  62.000  1320.00   1.32000  2.129032
60                 Tree shrew   0.104     2.50   0.00250  2.403846
53                   Mole rat   0.122     3.00   0.00300  2.459016
25                     Galago   0.200     5.00   0.00500  2.500000
39           Little brown bat   0.010     0.25   0.00025  2.500000
34              Rhesus monkey   6.800   179.00   0.17900  2.632353
13  Lesser short-tailed shrew   0.005     0.14   0.00014  2.800000
1                  Owl monkey   0.480    15.50   0.01550  3.229167
10            Ground squirrel   0.101     4.00   0.00400  3.960396

In [16]:
big_animals = animals[animals["body"] >= 1]
big_animals.shape

(42, 5)

In [17]:
big_animals

                       Mammal      body   brain  brainkgw  btbratio
32           African elephant  6654.000  5712.0    5.7120  0.085843
3                         Cow   465.000   423.0    0.4230  0.090968
55                        Pig   192.000   180.0    0.1800  0.093750
57            Brazilian tapir   160.000   169.0    0.1690  0.105625
33              Water opossum     3.500     3.9    0.0039  0.111429
21                      Horse   521.000   655.0    0.6550  0.125720
27                    Giraffe   529.000   680.0    0.6800  0.128544
48            Giant armadillo    60.000    81.0    0.0810  0.135000
44                     Jaguar   100.000   157.0    0.1570  0.157000
35                   Kangaroo    35.000    56.0    0.0560  0.160000
18             Asian elephant  2547.000  4603.0    4.6030  0.180722
41                      Okapi   250.000   490.0    0.4900  0.196000
28                    Gorilla   207.000   406.0    0.4060  0.196135
20                     Donkey   187.100   419.0    0.4190  0.223944
15      Nine-banded armadillo     3.500    10.8    0.0108  0.308571
43                      Sheep    55.500   175.0    0.1750  0.315315
4                   Grey wolf    36.330   119.5    0.1195  0.328929
17               N.A. opossum     1.700     6.3    0.0063  0.370588
29                  Grey seal    85.000   325.0    0.3250  0.382353
5                        Goat    27.660   115.0    0.1150  0.415763
36      Yellow-bellied marmot     4.050    17.0    0.0170  0.419753
42                     Rabbit     2.500    12.1    0.0121  0.484000
7                  Guinea pig     1.040     5.5    0.0055  0.528846
49               Rock hyrax-b     3.600    21.0    0.0210  0.583333
2             Mountain beaver     1.350     8.1    0.0081  0.600000
16                 Tree hyrax     2.000    12.3    0.0123  0.615000
12  African giant pouched rat     1.000     6.6    0.0066  0.660000
6                    Roe deer    14.830    98.2    0.0982  0.662171
59                  Phalanger     1.620    11.4    0.0114  0.703704
24                        Cat     3.300    25.6    0.0256  0.775758
56                    Echidna     3.000    25.0    0.0250  0.833333
45                 Chimpanzee    52.160   440.0    0.4400  0.843558
40                 Slow loris     1.400    12.5    0.0125  0.892857
50                    Raccoon     4.288    39.2    0.0392  0.914179
23               Patas monkey    10.000   115.0    0.1150  1.150000
61                    Red fox     4.235    50.4    0.0504  1.190083
26                      Genet     1.410    17.5    0.0175  1.241135
0                  Arctic fox     3.385    44.5    0.0445  1.314623
8                      Verbet     4.190    58.0    0.0580  1.384248
46                     Baboon    10.550   179.5    0.1795  1.701422
31                      Human    62.000  1320.0    1.3200  2.129032
34              Rhesus monkey     6.800   179.0    0.1790  2.632353

In [19]:
animals['withoubrain'] = np.where(animals['brainkgw']!= 0, animals['body']/animals['brainkgw'], "no data")
animals.head(20)

,Mammal,body,brain,brainkgw,btbratio,withoubrain
32,African elephant,6654.00,5712.0,5.7120,0.085843,1164.9159663865546
3,Cow,465.00,423.0,0.4230,0.090968,1099.290780141844
55,Pig,192.00,180.0,0.1800,0.093750,1066.6666666666667
57,Brazilian tapir,160.00,169.0,0.1690,0.105625,946.7455621301774
33,Water opossum,3.50,3.9,0.0039,0.111429,897.4358974358975
21,Horse,521.00,655.0,0.6550,0.125720,795.4198473282443
27,Giraffe,529.00,680.0,0.6800,0.128544,777.9411764705882
48,Giant armadillo,60.00,81.0,0.0810,0.135000,740.7407407407408
44,Jaguar,100.00,157.0,0.1570,0.157000,636.9426751592357
35,Kangaroo,35.00,56.0,0.0560,0.160000,625.0
18,Asian elephant,2547.00,4603.0,4.6030,0.180722,553.3347816641322
41,Okapi,250.00,490.0,0.4900,0.196000,510.2040816326531
28,Gorilla,207.00,406.0,0.4060,0.196135,509.85221674876846
20,Donkey,187.10,419.0,0.4190,0.223944,446.53937947494035
58,Tenrec,0.90,2.6,0.0026,0.288889,346.1538461538462
15,Nine-banded armadillo,3.50,10.8,0.0108,0.308571,324.0740740740741
43,Sheep,55.50,175.0,0.1750,0.315315,317.14285714285717
4,Grey wolf,36.33,119.5,0.1195,0.328929,304.01673640167365
17,N.A. opossum,1.70,6.3,0.0063,0.370588,269.8412698412698
29,Grey seal,85.00,325.0,0.3250,0.382353,261.53846153846155

In [20]:
animals["sum"] = animals.sum(axis = 1)

/var/folders/gw/y4dl2m9n7sjgz9jqdm3ht3t80000gn/T/ipykernel_13804/3977782468.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  animals["sum"] = animals.sum(axis = 1)

In [21]:
animals

,Mammal,body,brain,brainkgw,btbratio,withoubrain,sum
32,African elephant,6654.000,5712.00,5.71200,0.085843,1164.9159663865546,12371.797843
3,Cow,465.000,423.00,0.42300,0.090968,1099.290780141844,888.513968
55,Pig,192.000,180.00,0.18000,0.093750,1066.6666666666667,372.273750
57,Brazilian tapir,160.000,169.00,0.16900,0.105625,946.7455621301774,329.274625
33,Water opossum,3.500,3.90,0.00390,0.111429,897.4358974358975,7.515329
...,...,...,...,...,...,...,...
39,Little brown bat,0.010,0.25,0.00025,2.500000,40.0,2.760250
34,Rhesus monkey,6.800,179.00,0.17900,2.632353,37.98882681564246,188.611353
13,Lesser short-tailed shrew,0.005,0.14,0.00014,2.800000,35.71428571428571,2.945140
1,Owl monkey,0.480,15.50,0.01550,3.229167,30.96774193548387,19.224667
10,Ground squirrel,0.101,4.00,0.00400,3.960396,25.25,8.065396